/* prata-regular - latin */
@font-face {
font-family: 'Prata';
font-style: normal;
font-weight: 400;
src: url('../fonts/prata-v18-latin-regular.eot'); /* IE9 Compat Modes */
src: local(''),
        url('../fonts/prata-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/prata-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/prata-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/prata-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/prata-v18-latin-regular.svg#Prata') format('svg'); /* Legacy iOS */
}
/* rubik-300 - latin */
@font-face {
font-family: 'Rubik';
font-style: normal;
font-weight: 300;
src: url('../fonts/rubik-v20-latin-300.eot'); /* IE9 Compat Modes */
src: local(''),
        url('../fonts/rubik-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/rubik-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/rubik-v20-latin-300.woff') format('woff'), /* Modern Browsers */
        url('../fonts/rubik-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/rubik-v20-latin-300.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-regular - latin */
@font-face {
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
src: url('../fonts/rubik-v20-latin-regular.eot'); /* IE9 Compat Modes */
src: local(''),
        url('../fonts/rubik-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/rubik-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/rubik-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/rubik-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/rubik-v20-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}