$base_fz: 16;
$font_Rubik: 'Rubik';
$font_Prata: 'Prata';
$color_blue: #5474FD;

// @import 'font';

@mixin fz($size_in_px){
    font-size:($size_in_px/$base_fz)+rem;
}
*, *::before, *::after {
    padding: 0;
    margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: $font_Rubik;
    @include fz(16);
    font-weight: 400;
}
a, button {
    transition: all 0.2s ease;
    cursor: pointer;
}
a{
    text-decoration: none;
}
ol, ul{
    list-style: none;
}
.container {
   max-width: 1500px;
   width: 90%;
   margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
///---------------------///
.contsiner_header {
    max-width: 1770px;
    width: 90%;
    margin: 0 auto;
    z-index: 1000;
    position: relative;
  }
  header {
    &.scroll {
      position: fixed;
      top: 0;
      z-index: 1000;
      padding: 10px 0;
      width: 100%;
      background: #f9f9f9bb;
      box-shadow: 0 0 10px #909090;
      backdrop-filter: blur(4px);
      .header {
        margin-top: 5px;
      }
    }
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    margin-top: 67px;
    z-index: 1000;
    &_menu {
      display: flex;
      align-items: center;
    }
    nav {
      margin-left: 96px;
      ul {
        display: flex;
        li {
          margin-right: 40px;
          a {
            color: #939393;
            &:hover {
              color: #201f1f;
            }
          }
        }
      }
    }
  }
  .hamburger {
    width: 44px;
    height: 44px;
    border-radius: 25px;
    background: rgba(32, 31, 31, 0.6);
    text-align: center;
    color: rgba(255, 253, 250, 1);
    padding: 14px;
    margin-bottom: 5px;
  }
  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before {
    width: 16px;
    height: 3px;
    border-radius: 0px;
  }
  .hamburger--slider .hamburger-inner::before {
    top: 7px;
  }
  .hamburger--slider .hamburger-inner::after {
    top: 14px;
  }
  
  .hamburger--slider.is-active .hamburger-inner::after {
    top: 20px;
  }
  
  .hamburger--slider .hamburger-inner {
    top: 0px;
  }
  .hamburger-box {
    height: 13px;
  }
  .is-active .hamburger-box {
    height: 23px;
  }
  #page_overlay {
    display: block;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.348);
    display: none;
    z-index: 26;
    &.open {
      display: block;
    }
  }
  .plError {
    height: 21px;
  }
  #side_block {
    width: 320px;
    height: 100vh;
    background: linear-gradient(to right, #b9bfda, #f0f0f0);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 20px;
    transform: translateX(-360px);
    transition: all 0.2s ease;
    z-index: 207000000;
    .side_block_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }
    .links {
      margin-bottom: 10px;
      a {
        line-height: 226.9%;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #818181;
        &:hover {
          color: #201f1f;
        }
      }
    }
    .contact_element {
      a {
        padding-top: 10px;
        padding-bottom: 17px;
        color: #818181;
        display: flex;
        gap: 5px;
        &:hover {
          color: #201f1f;
        }
      }
    }
    .social {
      margin-top: 30px;
      a {
        width: 38px;
        height: 38px;
        font-size: 14px;
        line-height: 14px;
        color: #a5a5a5;
        box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.07);
        padding: 12px 10px 8px 10px;
        background: #ffffff;
        margin-right: 20px;
        .icon-facebook {
          padding: 0 3px;
        }
        &:hover {
          color: #ffffff;
          background: #a5a5a5;
          box-shadow: 0px 7px 9px #aaaaaa;
        }
      }
    }
    &.open {
      transform: translateX(0);
    }
    .logo {
      img {
        width: 55px;
      }
    }
    p {
      width: 280px;
      margin-bottom: 30px;
    }
  }


h2{
    font-family: $font_Prata;
    font-weight: 400;
    @include fz(49);
    line-height: 129.4%;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: #201F1F;
    &:after{
        content: '—';
        width: 34px;
        color: #91795C;
        margin-left: 14px
    }
}
h3{
    @include fz(30);
    line-height: 172.4%;
    color: #363535;
}
h4{
    font-weight: 500;
    @include fz(22);
    line-height: 212.4%;
    text-transform: capitalize;
    color: #363535;
}
p{
    line-height: 212.4%;
    letter-spacing: 0.02em;
    color: #5B5B5B;
}
.btn{
    width: 187px;
    height: 67px;
    background-color: #fff;
    border: 1px solid rgba(184, 184, 184, 1);
    line-height: 168.4%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #201F1F;
    padding: 23px ;
    &:hover{
        background: #201F1F;
        color: #fff;
    }
}
.err_text{
    padding-top: 5px;
    color: red;
    font-style: italic;
    text-align: center;
    @include fz(13);
    position: relative;
    top: -23px;
}
.sendSubmit{
    background-color: #8ba97b5c;
    padding: 20px 0;
    height: 15px;
    width: 90%;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: -65px;
    text-align: center;
    box-shadow: 0 0 10px #43533b61;
}
.errSubmit{
    background-color: #b04c426b;
    padding: 20px 0;
    height: 15px;
    width: 90%;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: -65px;
    text-align: center;
    box-shadow: 0 0 10px #6d1e166b;
}
.icon-search,
.icon-bars,.icon-mail-envelope-closed{
    @include fz(20);
}

#portfolio{
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 256px;
    align-items: center;
    justify-items: center;
    margin-top: 100px;
    .portfolio_name{
        display: flex;
        flex-wrap: wrap;
        h2{
            padding-bottom: 34px;
        }
    }
    ul{
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: space-around;
        a{
            font-weight: 500;
            line-height: 212.4%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #979797;
            &:hover{
                color: #201F1F;
                
            }
        }
    }
}
.gallery{
    max-width: 1775px;
    margin: 0 auto;
    margin-top: 144px;
    display: grid;  
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 60px;
    margin-bottom: 100px;
    img{
        &:first-child{
            grid-area: 1 / 1 / 3 / 3;
        }
    }
}

.services{
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 142px;
    margin-top: 100px;
    h2{
        margin-bottom: 34px;
    }
    &_blok{
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        grid-template-rows: repeat(2, 1fr);
        gap: 52px;
        .card{
            box-shadow: 0px 21px 44px 0px rgba(0, 0, 0, 0.04);
            border: 1px solid #F9F9F9;
            padding: 50px 63px;
        }
    }
}

.clients{
    margin-bottom: 250px;
    margin-top: 240px;
    .counter{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 220px;
        &_item{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            h5{
                font-family: $font_Prata;
                @include fz(120);
                line-height: 129.4%;
                letter-spacing: -0.02em;
                text-transform: capitalize;
                color: #DEDEDE;
                padding-right: 8px;
            }
            span{
                line-height: 212.4%;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: #5B5B5B;
                padding-bottom: 25px;
            }
        }
    }
    .comment{
        display: grid;
        grid-template-columns: 70% 30%;
        img {
            height: 870px;
            max-width: 1100px;
            position: relative;
            top: 0;
            right: 146px;
        }
        &_item{
            display: grid;
            padding: 119px 10px 40px 160px;
            background-color: #ffffff;
            position: relative;
            right: 501px;
            top: 100px;
            width: 500px;
            .sum_dots{
                display: flex;

            }
            svg{
                margin-top: 42px;
                margin-left: -28px;
            }
            p{
                width: 604px;
                padding-bottom: 33px;
                font-weight: 300;
                @include fz(22);
                line-height: 222.4%;
                letter-spacing: 0.02em;
                color: #5B5B5B;
            }
            h4{
                font-weight: 500;
                @include fz(26);
                line-height: 212.4%;
                text-transform: capitalize;
                color: #363535;
            }
            span{
                line-height: 212.4%;
                letter-spacing: 0.02em;
                text-transform: capitalize;
                color: #818181;
            }
            .dots{
                width: 10px;
                height: 10px;
                margin: 0px;
                padding: 0px;
                margin-right: 18px;
            }
        }
    }
}
.contactMe{
    display: grid;
    grid-template-columns: 780px 30%;
    margin-bottom: 88px;
    position: relative;
    margin-top: 220px;
    background: rgba(252, 252, 252, 1);
    justify-items: center;
    &_item{
        z-index: 100;
        display: flex;
        height: 800px;
        flex-direction: column;
        background-color: #fff;
        padding: 83px 94px 4px 20px;
        h2{
            padding-bottom: 32px;
        }
        p{
            width: 460px;
            margin-bottom: 100px;
        }
        &_form{
            display: flex;
            flex-wrap: wrap;
            width: 607px;
            column-gap: 35px;
            .heiChek{
                height: 100px;
            }
            input,textarea{
                width: 280px;
                height: 50px;
                border: none;
                border-bottom: 1px solid #949494;
                padding: 8px 2px;
                font-style: italic;
                letter-spacing: 0.02em;
                line-height: 100%;
              &:active,
              &:focus{
                text-transform: none;
                color: #000;
              }
            }
            .mess{
                width: 607px;
            }
            .btn{
                margin-top: 55px;
                margin-bottom: 87px;
            }
        }
    }
    img{
            height: 1000px;
            max-width: 940px;
            position: absolute;
            top: -200px;
            right: -60px;
    }
}
.latest{
    display: flex;
    flex-direction:column;
    margin: 100px 0 100px 0;
    h2{
        padding-bottom: 34px;
    }
    p{
       width: 460px;
       padding-bottom: 80px;
    }
    .btn {
        align-self: center;
    }
    .blog{
        display: grid;
        grid-template-rows: 640px;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        margin-bottom: 40px;
        &_post{
            &_content{
                position: relative;
                width: 340px;
                top: -50px;
                left: 6%;
                padding: 30px 35px;
                background-color: #fff;
                box-shadow: 0px 20px 44px 0px rgba(0, 0, 0, 0.06);
                border: 1px solid rgba(249, 249, 249, 1);
                h5{
                @include fz(14);
                line-height: 212.4%;
                color: #BABABA;
                margin-bottom: 10px;
                }
                h4{
                    font-weight: 500;
                    @include fz(22);
                    line-height: 147.9%;
                    text-transform: capitalize;
                    color: #363535;
                    margin-bottom: 14px;
                }
                p{
                    line-height: 200.9%;
                    letter-spacing: 0.02em;
                    color: #818181;
                    width: 100%;
                    padding-bottom: 0px;
                }
                span {
                    font-style: italic;
                    font-weight: 400;
                    @include fz(14);
                    line-height: 200.9%;
                    text-decoration-line: underline;
                    color: #91795C;
                }
            }
        }
    }
}
.faqs{
    display: grid;
    grid-template-columns: 1fr 850px;
    margin-bottom: 100px;
    &_item{
        h2{
            padding-bottom: 32px;
        }
        p{
            width: 460px;
        }
    }
    &_qvesh{
        height: 900px;
        &_item{
        display: grid;
        grid-template-columns: 1fr 20px;
        padding: 30px;
        border: 1px solid rgba(249, 249, 249, 1);
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.04);
        margin-bottom: 35px;
        align-items: center;
        }
    }
}