$base_fz: 16;
@mixin fz($size_in_px) {
    font-size: ($size_in_px/$base_fz)+rem;
}

@media screen and (max-width: 1400px) {
	.blog {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: 1fr;
		span{
			top: 365px;
		}
	}
	.blog_post {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		}
	.blog_post_content {
		position: absolute;
		left: 42%;
		right: 28px;
		top: 33px;
	}
}
@media screen and (max-width: 1100px) {
    h2 {
        @include fz(40);
    }
    h3 {
        @include fz(25);
    }
    h4 {
        @include fz(20);
        line-height: 180.4%;
    }
    .btn {
        width: 150px;
        height: 58px;
        @include fz(12);
        padding: 10px;
    }   
}
@media screen and (max-width: 760px) {
    .back_img {
        background: url(../img/Rectangle_sect1.png) right top/100% no-repeat;
    }
    .header {
        nav {
            display: none;
        }
    }
}
@media screen and (max-width: 600px) {  
    h2 {
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 600px) {
	.blog {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: 1fr;
		span{
			top: 365px;
		}
	}
	.blog_post {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
		}
	.blog_post_content {
		position: absolute;
		left: 9%;
		right: 27px;
		top: 235px;
		height: 356px;
	}
		.blog span {
		top: 624px;
	}
	
}
@media screen and (max-width: 550px) {
    h3 {
        @include fz(18);
    }
}
@media screen and (max-width: 400px) {
    #side_block {
        width: 290px;
    }
}
