$base_fz: 16;
@mixin fz($size_in_px) {
    font-size: ($size_in_px/$base_fz)+rem;
}
@media screen and (max-width: 1100px) {
    h2 {
        @include fz(40);
    }
    h3 {
        @include fz(25);
    }
    h4 {
        @include fz(20);
        line-height: 180.4%;
    }
    .btn {
        width: 150px;
        height: 58px;
        @include fz(12);
        padding: 10px;
    }   
}
@media screen and (max-width: 760px) {
    .back_img {
        background: url(../img/Rectangle_sect1.png) right top/100% no-repeat;
    }
    .header {
        nav {
            display: none;
        }
    }
}
@media screen and (max-width: 600px) {  
    h2 {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 550px) {
    h3 {
        @include fz(18);
    }
}
@media screen and (max-width: 400px) {
    #side_block {
        width: 290px;
    }
}
